html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.container {
    max-width: 1024px;
}
#content {
    margin-top: 50px;
}
textarea {
    resize: none;
}
